@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui";


@theme{
    --breakpoint-xs:33rem
}

@layer utilities {
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animated-gradient {
    background: linear-gradient(270deg, #22c55e, #0062ff, #d5e406);
    background-size: 600% 600%;
    animation: gradientMove 8s ease infinite;
  }
}
